<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Item Recommedation</span>
    <span class="text-muted mt-1 fw-bold fs-7"></span>
  </h3>
  <!--
    <div class="card-toolbar">
    <!-- begin::Menu -->
   <!--
      <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </button>
    <!-- begin::Menu 2 -->
   
   <!-- <app-dropdown-menu2></app-dropdown-menu2>
    <!-- end::Menu 2 -->
    <!-- end::Menu -->
  <!--</div>-->
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table align-middle gs-0 gy-4">
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted bg-light">
          <th class="ps-4 min-w-300px rounded-start">Main Items</th>
          <th class="min-w-150px">Item 1</th>
          <th class="min-w-150px">Item 2</th>
          <th class="min-w-150px">Item 3</th>
          <th class="min-w-150px">Item 4</th>
          <th class="min-w-200px rounded-end"> Item 5</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr *ngFor="let item of RecommendationItems">
          <td>
            <div class="d-flex align-items-center">
              
              <div class="d-flex justify-content-start flex-column">
                <span
                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                  {{item.ItemName}}
                </span>
                <!--
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                  HTML, JS, ReactJS
                </span>
                -->
              </div>
            </div>
          </td>
          <td >
            <div class="d-flex align-items-center">
              
              <div class="d-flex justify-content-start flex-column">
                <span
                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                  {{item.RecItems[0]}}
                </span>
                <!--
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                  HTML, JS, ReactJS
                </span>
                -->
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              
              <div class="d-flex justify-content-start flex-column">
                <span
                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                  {{item.RecItems[1]}}
                </span>
                <!--
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                  HTML, JS, ReactJS
                </span>
                -->
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              
              <div class="d-flex justify-content-start flex-column">
                <span
                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                  {{item.RecItems[2]}}
                </span>
                <!--
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                  HTML, JS, ReactJS
                </span>
                -->
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              
              <div class="d-flex justify-content-start flex-column">
                <span
                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                  {{item.RecItems[3]}}
                </span>
                <!--
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                  HTML, JS, ReactJS
                </span>
                -->
              </div>
            </div>
          </td>
          <td >
           <!-- <a
              href="#"
              class="
                btn btn-bg-light btn-color-muted btn-active-color-primary btn-sm
                px-4
                me-2
              "
            >
              View
            </a>
            <a
              href="#"
              class="
                btn btn-bg-light btn-color-muted btn-active-color-primary btn-sm
                px-4
              "
            >
              Edit
            </a>
          -->
          <div class="d-flex align-items-center">
              
            <div class="d-flex justify-content-start flex-column">
              <span
                class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                {{item.RecItems[4]}}
              </span>
              <!--
                <span class="text-muted fw-bold text-muted d-block fs-7">
                HTML, JS, ReactJS
              </span>
              -->
            </div>
          </div>
          
          </td>
        </tr>


      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->
