<div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Department Sales</span>
  
      <span class="text-muted fw-bold fs-7">Top 5 Department</span>
    </h3>
    <div class="card-toolbar" data-kt-buttons="true">
      <a
        (click)="updateSeries()"
        class="
          btn btn-sm btn-color-muted btn-active btn-active-primary
          active
          px-4
          me-1
        "
        id="kt_charts_widget_10_Update_btn"
      >
      Update
      </a>
    </div>
  </div>
  <!-- end::Header -->
  
  <!-- begin::Body -->
  <div class="card-body">
    <!-- begin::Chart -->
    <div
      #chartRef
      id="kt_charts_widget_10_chart"
      class="card-rounded-bottom"
    >
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [colors]="chartOptions.colors"
    [labels]="chartOptions.labels"
    [title]="chartOptions.title"
    [theme]="chartOptions.theme"
    [fill]="chartOptions.fill"
    [yaxis]="chartOptions.yaxis"
    [stroke]="chartOptions.stroke"
    [legend]="chartOptions.legend"
    [plotOptions]="chartOptions.plotOptions"
  ></apx-chart>
    </div>
    <!-- end::Chart -->
  </div>
  